Source: emacs-tiny-tools
Section: editors
Priority: optional
Maintainer: Vincent Beffara <vbeffara@free.fr>
Build-Depends-Indep: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: emacs-tiny-tools
Architecture: all
Depends: emacsen-common, perl
Description: The Emacs tiny tools
 Emacs Tiny Tools is a collection of libraries and packages,
 which are designed to be OS and X/Emacs platform independent.
 E.g. configure load-path automatically, URL handler,
 easy-delete, mail complete and many more.

Package: emacs-tiny-tools-doc
Section: doc
Architecture: all
Suggests: emacs-tiny-tools
Description: The Emacs tiny tools - documentation
 Emacs Tiny Tools is a collection of libraries and packages,
 which are designed to be OS and X/Emacs platform independent.
 E.g. configure load-path automatically, URL handler,
 easy-delete, mail complete and many more.
 . 
 This package contains the documentation.
