#!/usr/bin/make -f

export DH_COMPAT=4

clean:
	dh_testdir
	dh_clean

binary-indep:
	dh_testdir
	dh_testroot

# Library package :

	dh_install lisp/tiny lisp/other usr/share/emacs/site-lisp/emacs-tiny-tools
	rm -f debian/emacs-tiny-tools/usr/share/emacs/site-lisp/emacs-tiny-tools/tiny/Makefile

	dh_install bin/*.pl usr/bin
	rm -f debian/emacs-tiny-tools/usr/bin/makefile.pl

	@for i in debian/emacs-tiny-tools/usr/bin/*.pl; do \
		mv $$i $$i-tmp; \
		echo '#!/usr/bin/perl' > $$i; \
		cat $$i-tmp >> $$i; \
		rm $$i-tmp; \
	done

	dh_installchangelogs -pemacs-tiny-tools lisp/ChangeLog
	dh_installdocs
	dh_installemacsen

# Documentation package :

	dh_installdocs -pemacs-tiny-tools-doc doc/html doc/txt rc
	dh_installchangelogs -pemacs-tiny-tools-doc doc/ChangeLog

# CVS stuff :

	-find debian/emacs-tiny-tools debian/emacs-tiny-tools-doc -name CVS -exec rm -rf {} \;
	-find debian -name .cvsignore -exec rm {} \;

# The packaging :

	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

.PHONY: build clean binary-indep binary-arch binary install configure
